  <div id="bloom"><img src="<%=asset_path"baloon.jpg"%>"></div>
<h1>〜well-known quotes 〜</h1>
<p1>Quotes is made for people who want to share your favorite quotes </p1><br>
<p1>You can also post quotes that you made.share with people from all over the world!</p1>
  