<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-xs-offset-2 col-lg-8 col-lg-offset-2" style="margin:0x;padding:0px;">
     <p id="notice"><%= notice %></p>
     <h2>Quotes</h2>
     <%= render 'form' %>
    </div>
  </div>
</div>